{% extends 'base.html' %} {% block content %}
<div class="container" style= "font-family: 'Cormorant Upright', serif;">
    <div class="jumbotron text-center" style= "min-height: 500vh;background-color: darkcyan; color:darkcyan; font-family: monospace;">
        <div class="well" style="color:darkcyan;">
            <h1> Photo Album</h1>
        </div>
        <div class="row">
            {% for image in images %}
                <div class="col-md-4">
                <p style="color:bisque">{{image.name}}</p>
                    <img style= "width:340px; height: 250px"src="{{image.image.url}}" alt="{{image.name}}" class="img-thumbnail" alt="Image" data-toggle="modal" data-target="#{{image.id}}">
                </div>
                <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="imageTitle" aria-hidden="true">
                     <div  style="max-width:100%; max-height:100%; padding-top:100px;" class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h5 class="modal-title" id="imageTitle">{{image.name}}</h5>
                              </button>